{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="70E8BDE348DAB9E88CAF99CD32C634AD" />
    <meta name="google-site-verification" content="Jlna_Bw5EaQoqmzevKUdZfcCtE930SFNDLzADvhWCGc" />
    <meta name="description" content="Check your Target gift card balance easily online, by phone, or in-store. Follow our step-by-step guide to enter your card details and instantly view your remaining balance to manage your spending effectively." />
    <meta name="keywords" content="Target gift card balance, check Target gift card, Target gift card online, Target gift card phone balance, check gift card balance" />
    <meta name="robots" content="index, follow" />
    <title>How to Check Your Target Gift Card Balance – Easy Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
